################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.input
/.vs
/.vscode
/bin
/obj
